<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Second Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Third Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Forth Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Fifth Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Sixth Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Seventh Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Eight Batter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ninth Batter">
  </mat-form-field>
</div>
