<mat-tab-group class="lineup-tab-group">
  <mat-tab label="{{homeTeam}}">
      <div class="lineup-container">
          <div class="player-input">
            <mat-form-field *ngFor="let lineupSpot of homeLineup">
              <input matInput [(ngModel)]="lineupSpot.player" placeholder="{{lineupSpot.placeholder}}" type="text" name="lineupSpot">
            </mat-form-field>
          </div>
          <div class="position-input">
            <mat-form-field *ngFor="let lineupSpot of homeLineup">
              <input matInput [(ngModel)]="lineupSpot.position" placeholder="" type="text" name="lineupSpot">
            </mat-form-field>
          </div>
        </div>
  </mat-tab>
  <mat-tab label="{{awayTeam}}">
      <div class="lineup-container">
          <div class="player-input">
            <mat-form-field *ngFor="let lineupSpot of awayLineup">
              <input matInput [(ngModel)]="lineupSpot.player" placeholder="{{lineupSpot.placeholder}}" type="text" name="lineupSpot">
            </mat-form-field>
          </div>
          <div class="position-input">
            <mat-form-field *ngFor="let lineupSpot of awayLineup">
              <input matInput [(ngModel)]="lineupSpot.position" placeholder="" type="text" name="lineupSpot">
            </mat-form-field>
          </div>
        </div>
  </mat-tab>
</mat-tab-group>
<pre>{{lineups | json}}</pre>
